.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0 350px 0 30px;
    top: 30px;
    width: 100%;
    height: 50px;
background: linear-gradient(115deg, red , yellow);
}

.title_left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}


.caught-seen{
    display: flex;
    align-items: center;
}

.caught, 
.seen{
    display: flex;
    align-items: center;
    background:#ffa500;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px 20px;
    color: white;
}